.deliveries {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    align-content: start;
}

.table {
    --table--border-color: #989ac5;
    --table--border--width: 2px;
    display: grid;
    border-radius: 0.4rem;
    border: var(--table--border--width) solid var(--table--border-color);
}

.table__row {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem;
}

.table__row:first-child {
    font-weight: bold;
}

.table__row:not(:last-child) {
    border-bottom: var(--table--border--width) solid var(--table--border-color);
}

.table__cell:not(:last-child) {
    border-right: var(--table--border--width) solid var(--table--border-color);
}

.couriers_table .table__row {
    grid-template-columns: repeat(2, 1fr);
}

.packages_table .table__row {
    grid-template-columns: repeat(2, 1fr);
}

.deliveries_table .table__row {
    grid-template-columns: repeat(4, 1fr);
}